.DS_Store
.vscode
*.png

clip2dataurl
clip2stdout

build/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt

.vs/
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
Debug/
INSTALL.vcxproj
INSTALL.vcxproj.filters
Release/
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
clip2dataurl.dir/
clip2dataurl.sln
clip2dataurl.vcxproj
clip2dataurl.vcxproj.filters
clip2stdout.dir/
clip2stdout.vcxproj
clip2stdout.vcxproj.filters
x64/

